.card-container {
  background-color: #f1f5fe;
  border-bottom-left-radius: 200px;
  padding: 3%;
  height: 60vh;
  position: relative;
}

.header {
  background-image: url("../../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header h1 {
  color: #2a314c;
  font-weight: 800;
}

p {
  color: #8e95a8;
  font-size: 15px;
}

.card {
  transform: translate(-50%, -50%);
}

.card-header h2 {
  color: #2a314c;
  font-weight: 800;
  font-size: 40px;
}

span {
  color: #8e95a8;
}
